* {
  font-family: monospace;
  box-sizing: border-box;
}

html {
  background-color: #CFD5F9;
  color: #333;
  font-weight: bold;
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}

html::before {
  content: '!! Stop !!';
  font-size: 30px;
}

body {
  display: none !important;
}
